<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/components :: head}"></head>
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Login</title>
                <link rel="stylesheet" th:href="@{/css/styles.css}" />
                </head>
                <body>
                    <div class="container">
                        <div class="video-background">
                            <video autoplay muted loop id="bgVideo">
                                <source th:src="@{/img/bgVideo1.mp4}" type="video/mp4"> Your browser does not support the video.
                            </video>
                        </div>
                    </div>
                    <div class="p-3">
                        <section>
                            <a th:href="@{/login}" class="btn btn-primary">
                                <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                            </a>
                        </section>
                    </div>
                    <div class="row py-2 justify-content-center">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header align-items-center"> [[${titulo}]] </div>
                                <div class="card-body">
                                    <strong>[[${mensaje}]]</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer th:replace="~{layout/components :: footer}"></footer>
                </body>
                </html>