<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/components :: head}"></head>
    <head>
        <title>Home - Usuario | DC-PLINA</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
        <header th:replace="~{layout/components :: preHeader}"></header>
        <navbar th:replace="~{layout/components :: navbarUsuario}"></navbar>
        <div class="container mt-5">
            <h1>Bienvenido, Usuario</h1>
            <div class="row mt-4">
                <div th:if="${param.error}">
                    <div class="alert alert-danger" role="alert" th:text="${param.error}"></div>
                </div>
                <div class="col-md-6">
                    <a href="/usuario/clase" class="btn btn-danger btn-lg btn-block">Ver Clases Disponibles</a>
                </div>
                <div class="col-md-6">
                    <a href="/usuario/mis-reservas" class="btn btn-secondary btn-lg btn-block">Mis Reservas</a>
                </div>
            </div>
        </div>
        <footer th:replace="~{layout/components :: footer}"></footer>
    </body>
</html>
