<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/components :: head}"></head>
    <head>
        <title>Home - Usuario | DC-PLINA</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
        <header th:replace="~{layout/components :: preHeader}"></header>
        <navbar th:replace="~{layout/components :: navbarUsuario}"></navbar>
        <div class="container mt-5">
            <h1 class="text-center mb-4">Mis Reservas</h1>
            <div th:if="${reservas.empty}">
                <p>No tienes reservas activas.</p>
            </div>
            <div th:unless="${reservas.empty}" class="row">
                <div th:each="reserva : ${reservas}" class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${reserva.clase.nombre}">Nombre de la Clase</h5>
                            <p class="card-text"><strong>Fecha:</strong> <span th:text="${#temporals.format(reserva.clase.fecha, 'dd-MM-yyyy HH:mm')}">01-01-2024 10:00</span></p>
                            <form th:action="@{/usuario/cancelar-reserva/{id}(id=${reserva.id})}" method="post">
                                <button type="submit" class="btn btn-danger">Cancelar Reserva</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/usuario/home"class="btn btn-danger mt-3">Volver al Inicio</a>
        </div>
        <footer th:replace="~{layout/components :: footer}"></footer>
    </body>
</html>
