<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/components :: head}"></head>
    <head>
        <title>Home - Admin | DC-PLINA</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
        <header th:replace="~{layout/components :: preHeader}"></header>
        <navbar th:replace="~{layout/components :: navbarAdministrador}"></navbar>
        <h1 class='p-5'>Bienvenido Administrador</h1>
        <footer th:replace="~{layout/components :: footer}"></footer>
    </body>
</html>
