<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    
    <head th:replace="~{layout/components :: head}"></head>
    <head>
        <title>Contactar | DC-PLINA</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
        <header th:replace="~{layout/components :: preHeader}"></header>
        <navbar th:replace="~{layout/components :: navbar}"></navbar>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-3">
                <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contactar</li>
            </ol>
        </nav>
        <div class="container mt-2">
            <h1 class="text-center">Contacto</h1>
            <form>
                <div class="form-group mb-2">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" placeholder="Tu nombre" required>
                </div>
                <div class="form-group mb-2">
                    <label for="email">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" placeholder="Tu correo electrónico" required>
                </div>
                <div class="form-group mb-2">
                    <label for="subject">Asunto</label>
                    <input type="text" class="form-control" id="asunto" placeholder="Asunto" required>
                </div>
                <div class="form-group mb-2">
                    <label for="message">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="5" placeholder="Tu mensaje" required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-danger mt-3">Enviar</button>
                </div>

            </form>
        </div>

        <footer th:replace="~{layout/components :: footer}"></footer>
    </body>
</html>
