<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/components :: head}"></head>
    <head>
        <title>Home | DC-PLINA</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body id='bodyHome'>
        <header th:replace="~{layout/components :: preHeader}"></header>
        <navbar th:replace="~{layout/components :: navbar}"></navbar>
        
        <footer th:replace="~{layout/components :: footer}"></footer>
    </body>
</html>
