<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/components :: head}"></head>
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Login</title>
                <link rel="stylesheet" th:href="@{/css/styles.css}"/>
                </head>
                <body>
                    <div class="container">
                        <div class="video-background">
                            <video autoplay muted loop id="bgVideo">
                                <source th:src="@{/img/bgVideo1.mp4}" type="video/mp4">
                                    Your browser does not support the video.
                            </video>
                        </div>
                    </div>

                    <div class="login-container">
                        <div class="card">
                            <div class="card-header text-center bg-dark">
                                <img th:src="@{/img/logo2.png}" alt="logoLogin" class="img-fluid"/>
                            </div>
                            <div class="card-body">
                                <form th:action="@{/login}" method="post">
                                    <div class="form-group">
                                        <label for="username">Usuario:</label>
                                        <input type="text" class="form-control mb-3" id="username" name="username" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Contraseña:</label>
                                        <input type="password" class="form-control" id="password" name="password" required>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-danger mt-4">Login</button>
                                    </div>
                                </form>
                                <div class="card-footer text-center bg-light mt-4">
                                    <small class="text-muted">¿Olvidaste tu contraseña? <a href="#" class="text-primary">Recuperar</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </body>
                </html>
